
Penguin War/[Ll]ibrary/
Penguin War/[Tt]emp/
Penguin War/[Oo]bj/
Penguin War/[Bb]uild/
Penguin War/[Bb]uilds/
Penguin War/[Ll]ogs/
Penguin War/[Mm]emoryCaptures/
!/Penguin War/[Aa]ssets/**/*.meta
[Aa]ssets/Plugins/Editor/JetBrains*
Penguin War/.vs/
Penguin War/.gradle/
Penguin War/ExportedObj/
Penguin War/.consulo/
Penguin War/*.csproj
Penguin War/*.unityproj
Penguin War/*.sln
Penguin War/*.suo
Penguin War/*.tmp
Penguin War/*.user
Penguin War/*.userprefs
Penguin War/*.pidb
Penguin War/*.booproj
Penguin War/*.svd
Penguin War/*.pdb
Penguin War/*.mdb
Penguin War/*.opendb
Penguin War/*.VC.db
Penguin War/*.pidb.meta
Penguin War/*.pdb.meta
Penguin War/*.mdb.meta
Penguin War/sysinfo.txt
Penguin War/*.apk
Penguin War/*.unitypackage
Penguin War/crashlytics-build.properties

